[run]
source = src
omit =
    tests/*
    venv/*
    __pycache__/*
    .pytest_cache/*
    src/view.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError

[html]
directory = htmlcov
